
/* tables styles */
/* Tables
-------------------------------------------------------------------------*/
table.table_style_blue, table.table_style_green, table.table_style_red, table.table_style_black, table.table_style_yellow  {
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    color: #404040;
    width: 100%;
}

table.table_style_bill {
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    color: #404040;
 }

table.table_style_bill tbody tr, table.table_style_blue tbody tr, table.table_style_green tbody tr, table.table_style_red tbody tr, table.table_style_black tbody tr, table.table_style_yellow tbody tr  {
    background: none repeat scroll 0 0 #F2F2F2;
border: 1px solid #DDDDDD;
-webkit-transition: all 800ms ease-in-out;
-moz-transition: all 800ms ease-in-out;
-o-transition: all 800ms ease-in-out;
transition: all 800ms ease-in-out;
}

table.table_style_bill tbody tr:hover, table.table_style_blue tbody tr:hover , table.table_style_green tbody tr:hover, table.table_style_red tbody tr:hover, table.table_style_black tbody tr:hover, table.table_style_yellow tbody tr:hover  {
    background: none repeat scroll 0 0 #E5E5E5;
-webkit-transition: all 300ms ease-in-out;
-moz-transition: all 300ms ease-in-out;
-o-transition: all 300ms ease-in-out;
transition: all 300ms ease-in-out;
}

table.table_style_bill tbody tr td, table.table_style_blue tbody tr td, table.table_style_green tbody tr td, table.table_style_red tbody tr td, table.table_style_black tbody tr td, table.table_style_yellow tbody tr td {
    line-height: 22px;
text-indent: 5px;
border: 1px solid #DDDDDD;
}

table.table_style_bill caption, table.table_style_blue caption, table.table_style_green caption, table.table_style_red caption, table.table_style_black caption, table.table_style_yellow caption  {
    color: #FFFFFF;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
}

table.table_style_bill  caption { background: none repeat scroll 0 0 #3E6A86;}
table.table_style_blue caption { background: none repeat scroll 0 0 #3E6A86;}
table.table_style_green caption { background: none repeat scroll 0 0 #b9cd96;}
table.table_style_red caption { background: none repeat scroll 0 0 #AA1428;}
table.table_style_black caption { background: none repeat scroll 0 0 #000000;}
table.table_style_yellow caption { background: none repeat scroll 0 0 #F2F096; color: #544C4A;}

